force-app/main/default/flows/Submit_Mission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>Updates Mission status to Pending. To-Do: Subscribe to Mission Allocation platform event and update status and pilot fields on the mission record.</description>
    <environments>Default</environments>
    <interviewLabel>Submit Mission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit Mission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Mission_to_Pending</name>
        <label>Update Mission to Pending</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Wait_for_Mission_Allocation_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_missionNumber</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Mission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Mission_Record</name>
        <label>Update the Mission Record</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_missionNumber</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pilot__c</field>
            <value>
                <elementReference>MissionAllocationEventMessage.Contact_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Picked</stringValue>
            </value>
        </inputAssignments>
        <object>Mission__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Mission_to_Pending</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MissionAllocationEventMessage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Mission_Allocation__e</objectType>
    </variables>
    <variables>
        <description>Stores the Mission Number</description>
        <name>var_missionNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_for_Mission_Allocation_Event</name>
        <label>Wait for Mission Allocation Event</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Mission_Allocation_Event_Received_With_Matched_Mission_Number</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Update_the_Mission_Record</targetReference>
            </connector>
            <eventType>Mission_Allocation__e</eventType>
            <inputParameters>
                <name>Mission_Number__c</name>
                <value>
                    <elementReference>var_missionNumber</elementReference>
                </value>
            </inputParameters>
            <label>Mission Allocation Event Received With Matched Mission Number</label>
            <outputParameters>
                <assignToReference>MissionAllocationEventMessage</assignToReference>
                <name>Mission_Allocation__e</name>
            </outputParameters>
        </waitEvents>
    </waits>
</Flow>
